html
  head
      title= "Real time web chat"
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
      script(src='/javascripts/chat.js')
      script(src='/socket.io/socket.io.js')
  body
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    #users(style='width: 500px; margin: 0 0 20px 0;')
    .controls
      | Name:
      input#name(style='width:350px;')
      br
      input#field(style='width:350px;')
      input#send(type='button', value='send')